{% extends 'ISGProjectSubmissionAppBundle:Common:Registered/main.html.twig' %}

{% block content %}

<div class="container-reg"> 

 <div class="header-lg"> <h3>Project Submission - Create User</h3></div>

    <table class="user-ls">
     <td>
      <tr> Username </tr>
      <tr> Name </tr>
      <tr> Role </tr>
      <tr> Departmen </tr>
      <tr>Project Year</tr>
      <tr>Date Created</tr>
      <tr></tr>
      <tr></tr>
      
     </td>
     {% for user in users %}
        <td>
         <tr> {{user.userFirstname }} {{user.userLastname}}</tr>
         <tr>{{user.role}}</tr>
         <tr> {{user.Department}} </tr>
         <tr> {{user.projectYear}}</tr>
         <tr><a href="{{ path('_userEdit', {'id': user.id}) }}" >Edit</a></tr>
         <tr><a href="{{ path('_userDelete', {'id': user.id}) }}" >Delete</a></tr>
        </td>
     {% endfor %}
    
    </table>

</div>


{% endblock %}